
*{
    margin: 0;
    padding: 0;
    
}

html{
    font-size: 62.5%;
}

h1{
    padding:10px;
    font-family: sans-serif;
    font-size: 2rem ;
    background-color: antiquewhite;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

div{
    box-sizing: border-box;
}

.container{
    height: 500px;
    width: 500px;
    background-color: wheat;
    margin-top: 5pxpx;
    margin-left: 5px;
    position:relative;
    box-sizing: border-box;

}

.up-middle1{
    height: 75px;
    width: 125px;
    border-right: 5px solid;
    border-bottom: 5px solid;
    background-color: #e5eeeb ;
    position: absolute;
}

.up-middle2{
    top: 0;
    left: 120px;
    height: 75px;
    width: 210px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
    background-color: #f2e7d5;
    position:absolute;
}

.up-middle3{
   right: 40px; 
   height: 75px;
   width: 135px;
   border-left: 5px solid black;
   border-right: 5px solid black;
   border-bottom: 5px solid black;
   background-color:#f2c968;
   position:absolute;
}

.left-tree{
    position:absolute;
    top: 75px;
    width: 55px;
    height: 425px;
    background-color: #d6dee0;
}

.left1{
    position: relative;
    height: 125px;
    width: 55px;
    background-color: #fbfde7;
    border-right:5px solid black;
    border-bottom: 5px solid black;
}

.left2{
    position: relative;
    height: 205px;
    width: 55px;
    background-color: #e1eae5;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.left3{
    position: relative;
    height: 95px;
    width: 55px;
    background-color: #f4c65a;
    border-right:5px solid black;
}

.centar{
    position: absolute;
    top: 75px;
    left: 55px;
    width: 275px;
    height: 275px;
    background-color:#d62d24;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.pod-centar{
    position: absolute;
    bottom: 0px;
    left: 55px;
    width: 130px;
    height: 150px;
    background-color: #241785;
}

.pod-centar1{
    position: relative;
    
    height: 100px;
    width: 100%;
    background-color:#130409;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.pod-centar2{
    position: relative;
    height: 50px; 
    width: 100%;
    background-color:#e3ded9;
    border-right: 5px solid black;
}

.pod-centard{
    position: absolute;
    bottom: 15px;
    left: 185px;
    height: 135px;
    width: 145px;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.pc1{
    position: relative;
    height: 55px;
    width: 100%;
    background-color:#c0bfba;
    border-bottom: 5px solid black;
}

.pc2{
    position: relative;
    height: 45px;
    width: 100%;
    background-color:#dee2d4;
    border-bottom: 5px solid #130409;
}

.pc3{
    position: relative;
    height:35px;
    width: 140px;
    background-color: #0b0205;
}

.desna-vert{
    position: absolute;
    top: 70px;
    right: 40px; 
    height: 415px;
    width: 135px;
    border: 5px solid black;
}

.dv1{
    position:relative;
    width: 100%;
    height: 137.5px;
    background-color: #edcc6b;
    border-bottom: 5px solid black;
}

.dv2{
    position: relative;
    width: 65.5px;
    height: 137.5px;
    background-color: #dfe5d0;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.dv3{
    position: absolute;
    top: 137.5px;
    right: 0;
    width: 60.5px;
    height: 137.5px;
    background-color: #f2eee2;
    border-bottom: 5px solid black;
}

.dv4{
    position: relative;
    height: 55px;
    width: 100%;
    background-color:#d6dee0;
    border-bottom: 5px solid #130409;
}

.dv5{
    position: relative;
    height: 80px;
    width: 125.5px;
    background-color: #241785;
    border-bottom: 5px solid #130409;
}

.bottom{
    position: absolute;
    bottom: 0;
    left: 185px;
    height: 15px;
    width: 275px;
    background-color: #e0e0df;
    border-right: 5px solid black;
}

.far-right{
    position: absolute;
    right: 0;
    width: 40px;
    height: 405px;
    background-color:#fcfde7;
    border-bottom: 5px solid black;
}

.lastone{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 95px;
    background-color:#d73630;

}